{% extends 'layouts.html' %}
{% load humanize %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{product.name}}</h3>
                    <h4>{{product.price|intcomma}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    {% if product.stock <= 0 %}
                        <a href="#" class="btn btn-secondary disabled">สินค้าหมด</a>
                    {% else %}
                        <a href="#" class="btn btn-primary">เพิ่มลงตะกร้า</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}